// Breakpoints

$mobile-width: 576px;
$medium-width: 768px;
$desktop-width: 1200px;

@mixin mobileScreen {
  @media screen and (min-width: $mobile-width) {
    @content;
  }
}

@mixin mediumScreen {
  @media screen and (min-width: $medium-width) {
    @content;
  }
}

@mixin desktopScreen {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

// Animations

@mixin animation-vertical($name, $from, $to) {
  @keyframes #{$name} {
    0% {transform: translateY($from); opacity: 0;}
    100% {transform: translateY($to); opacity: 1;}
  }
}